
#shopview {
  width:70%;
  left: 30%;
  overflow-y: scroll;
}

.header, .banner, .footer {
  width: 100%;
  width: 70%;
}

.header {
  width: 100%;
  height: 64px;
  position: inherit;
  border-bottom: 1px solid coral;
  background-color: #fff;
  border-bottom: 1px solid darkgray;
}

.header.active {
  background-color: rgb(255, 230, 230);
  border-bottom: 1px solid coral;
}

.banner {
  width: 100%;
  position: inherit;
  margin-top: 20px;
  height: 32px;
  background-color: #fff;
}

.banner.active {
  background-color: rgb(255, 230, 230);
}

.footer {
  bottom: 0px;
  width: calc(70% - 1px);
  height: 48px;
  border-top: 1px solid darkgray;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: #fff;
}

.footer.active {
  background-color: rgb(255, 230, 230);
  border-top: 1px solid coral;
}

#productimage {
  width: 200px;
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#productimage.active {
  animation: glow 5s infinite;
}

@keyframes glow {
  0%, 100% {
    border: 1px solid rgb(255, 230, 230);
  }

  50% {
    border: 1px solid rgb(228, 84, 132);;
  }
}

.buy {
  border: 1px solid black;
  width: 50%;
  display: inline-block;
  margin: 50px 0px;
  height: 50px;
  border-radius: 10px;
  background-color: darkgray;
  box-shadow: 1px 2px #bbbbbb;
  font-weight: 700;
  font-size: 32px;
  background-color: gray;
}

.buy-0 {
  width: 40%;
  height: 50px;
}

.buy-1 {
  width: 50%;
  height: 55px;
  font-size: 34px;
}

.buy-2 {
  width: 60%;
  height: 60px;
  font-size: 36px;
}

.buy-3 {
  width: 70%;
  height: 65px;
  font-size: 38px;
}

.buy-4 {
  width: 80%;
  height: 70px;
  font-size: 42px;
}

.buy-5 {
  width: 90%;
  height: 70px;
  font-size: 46px;
  background-color: rgb(228, 84, 132);
}

.cross-selling-table {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}

.cross-selling-table.active .comparison {
  background-color: rgb(255, 230, 230);
}

.comparison {
  display: table-cell;
  width: 200px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  font-weight: 400;
   background-color: #fff;
}

.comparison .rendering {
  width: 160px;
  height: auto;
}

#cross-selling-info {
  font-weight: 700;
}