.tutorial-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ccccccaa;
}

.tutorial-dialog {
  position: fixed;
  border: 1px solid black;
  width: 50%;
  height: 300px;
  align-content: center;
  align-self: center;
  left: 25%;
  top: 25%;
  background-color: #cccccc;
  border-radius: 10px;
}

.tutorial-dialog h1, h2, p {
  position: absolute;
  margin: 0px 20px;
  padding: 20px;
  text-align: justify;
}

.tutorial-dialog h2 {
  top: 60px;
}

.tutorial-dialog p {
  top: 100px;
}

.tutorial-dialog div {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  padding: 10px
}

.tutorial-dialog div {
  bottom: 10px;
  position: absolute;

}

.tutorial-dialog div:hover {
  background-color: #ffffffaa;
}

.tutorial-dialog div:active {
  background-color: red;
}

.tutorial-dialog .skip-button {
  left: 10px;
}

.tutorial-dialog .previous-button {
  right: 70px;
}

.tutorial-dialog .next-button {
  right: 10px;
}

.tutorial-dialog .previous-button,.next-button {
  pointer-events: none;
}

.tutorial-dialog .previous-button.active,.next-button.active {
  pointer-events: all;
}