.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*html, body {
    height:100%;
    width:100%;
}*/

.App {
  display:flex;
  justify-content: space-between;
  height: 100vh;
}

#editorview {
  border: 1px solid black;
  width:30%;
}

#shopview {
  border: 1px solid red;
  width:70%;
  left: 30%;
}

#buy {
  position: relative;
  top: 50%;
  border: 1px solid black;
  width: 50%;
  left: 25%;
}

.center {
  position: relative;
  width: 50%;
  left: 25%;
  top: 35%;
}

.center input {
  border: 1px solid #000;
  width: 50%;
  height: 40px;
  box-shadow: 1px 1px black;
  padding: 5px;
  text-align: center;
}

.center .startbutton {
  position: relative;
  border: 1px solid black;
  width: 50%;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  padding: 5px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ccccccaa;
}

.tutorial-dialog {
  position: fixed;
  border: 1px solid black;
  width: 50%;
  height: 300px;
  align-content: center;
  align-self: center;
  left: 25%;
  top: 25%;
  background-color: #cccccc;
}